# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
.venv
env/
venv/

# Notebook checkpoint files
.ipynb_checkpoints

# Models

# Videos
demo_videos/

# macOS
.DS_Store 