# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
.venv
env/
venv/

# Notebook checkpoint files
.ipynb_checkpoints

# Models
models/
best.pt
minmax_scaler.pkl
subcluster_model.pkl

# Videos
demo_videos/

# macOS
.DS_Store 